.cart-link{
  position: fixed;
  right: 30px;
  top: 10px;
  background-color: #fff;
  color: gray;
  width: 60px;
  height: 60px;
  font-size: 32px;
  border-radius: 50%;
  box-shadow: rgb(97 96 162 / 30%) 0px 2px 28px;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    text-decoration: none;
  }
  .cart-count {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 10px;
    right: 10px;
    font-size: 14px;
    color: white;
    background-color: red;
    border-radius: 50%;
    height: 20px;
    width: 20px;
  }
}

.app{
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  column-gap: 3rem;
  margin: 0 auto;
}


.home-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

